<app-nav-bar></app-nav-bar>
<nav *ngIf="this.members$ | async as members" class="member-nav">
  <select *ngIf="members.length > 1" name="member-id" id="member-id" [formControl]="this.memberSelectControl">
    <option *ngFor="let member of members;" [ngValue]="member.id">{{ member.name }}</option>
  </select>
  <a style="grid-row: 2; grid-column: 1;" routerLink="./doses">今飲む薬</a>
  <a style="grid-row: 2;grid-column: 4;" routerLink="./prescriptions">処方箋一覧</a>
</nav>
<router-outlet></router-outlet>
