.member-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  grid-auto-rows: auto;
  gap: 8px 4px;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

.member-nav select {
  grid-column: 1 / 5;
  grid-row: 1;
}

