:host {
  display: flex;
  flex-direction: column;
}

#finished {
  margin-top: 2rem;
  height: 80px;
}

button {
  height: 80px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.round {
  margin: 1rem auto;
}
