<h1 i18n>家族構成</h1>
<p i18n>家族のメンバーを追加します。ログインできるメンバーを追加する場合、「アプリに招待メールを送る」にチェックを入れてください。</p>
<ul>
  <li *ngFor="let member of this.members$ | async ">
    <span>{{ member.name}}</span>
    <div i18n-title title="詳細を追加する" class="card round" routerLink="./add-details/{{ member.id }}">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
      </svg>
    </div>
  </li>
</ul>
<div i18n-title title="メンバーを追加する" class="card round" routerLink="./add">
  <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
    <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
  </svg>
</div>
<router-outlet></router-outlet>
