:host {
  display: flex;
  flex-direction: column;
}

#finished {
  margin-top: 2rem;
  height: 80px;
}

button {
  height: 80px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.round {
  margin: 1rem auto;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.member-tile {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 0.5rem 1rem;
}

.member-tile small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.member-tile h5 {
  text-align: left;
  margin: 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.actions {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.actions svg {
}

li {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px var(--secondary-color) solid;
  background: var(--secondary-color);
  border-radius: 8px;
  color: black;
  padding: 1.25rem 0.5rem;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  user-select: none;
  -webkit-user-select: none;
}

.member-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.member-details li {
  font-size: 1rem;
  padding: 0;
  margin: 1rem 0 0 0;
}
