<ng-container *ngIf="this.unfinishedDoses$ | async as doses; else noMeds">
  <button *ngIf="doses.length; else allDone" type="button" i18n class="administered-button"
    (click)="this.addAdministrationForRxMedicines()">飲みました</button>
  <div class="card dose" *ngFor="let dose of doses" i18n-title title="この薬の処方箋を編集する"
    routerLink="../../prescriptions/{{ dose.rxId }}">
    <strong style="grid-column: 1/ 9;">{{ dose.medicineName }}</strong>
    <span>{{ dose.takenAt | takenAt }}</span>
    <small>x{{ dose.amount }}</small>
  </div>
</ng-container>
<ng-template #allDone>
  <div class="all-done">
    <p i18n>全ての薬を飲んでいます！</p>
    <a class="nav-button" routerLink="../history">飲んだ薬の履歴</a>
  </div>
</ng-template>
<ng-template #noMeds>
  <p class="all-done" i18n>今、飲む薬はありません。</p>
</ng-template>
