.card {
  position: relative;
  max-width: 500px;
}
.dose {
  user-select: none;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 0 0.25rem;
}

.dose small, .dose span {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.administered-button {
  position: fixed;
  display: block;
  height: 60px;
  margin: auto;
  width: 60%;
  text-align: center;
  max-width: 500px;
  z-index: 10;
  bottom: 10vh;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.443);
}

:host {
  position: relative;
}

.all-done {
  display: block;
  margin: 1rem auto;
  text-align: center;
}
