<form (submit)="this.handleResetPasswordSubmit()" appSubmitOnModifierEnter [formGroup]="this.formGroup">
  <div class="form-group">
    <label for="reset-password-email">Email</label>
    <input id="reset-password-email" name="email" type="email" required autocomplete="email" />
  </div>
  <button id="submit-reset-password" type="submit">
    <base-spinner *ngIf="this.loading$ | async; else sendPasswordSubmitText" color="white"></base-spinner>
    <ng-template #sendPasswordSubmitText>Send Password Reset Email</ng-template>
  </button>
</form>
