<form (submit)="this.handleResetPasswordSubmit()" appSubmitOnModifierEnter [formGroup]="this.formGroup">
  <div class="form-group">
    <label for="reset-password-email" i18n>メールアドレス</label>
    <input id="reset-password-email" name="email" type="email" formControlName="email" required autocomplete="email" />
  </div>
  <button id="submit-reset-password" type="submit">
    <base-spinner *ngIf="this.loading$(); else sendPasswordSubmitText" color="white"></base-spinner>
    <ng-template #sendPasswordSubmitText i18n>パスワードをリセットするメールを送信する</ng-template>
  </button>
</form>
