.input-array,
.input-label {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-array {
  margin-bottom: 0.25rem;
  width: 95%;
  margin: auto;
}
.input-label {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

.input-label svg,
.input-array svg {
  position: absolute;
  right: 4px;
  height: 30px;
  margin: auto;
  cursor: pointer;
}
.input-label svg {
  top: 0;
  bottom: 0;
}
.input-array svg {
  top: 5px;
}

.input-array select,.input-array input {
  margin: 0 0 0.25rem 0;
  width: calc(100% - (30px + 10px));
}
.array-group {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.button-group button {
  margin: 0;
}
.button-left {
  border-radius: 4px 0 0 4px;
  flex: 1 0;
}
.button-right {
  border-radius: 0 4px 4px 0;
  flex: 1 0;
}

.delete {
  fill: var(--danger-color);
}
