<form [formGroup]="this.formGroup" (ngSubmit)="this.handleSubmit()" appSubmitOnModifierEnter>
  <label for="name" i18n>名前</label>
  <input type="text" name="name" id="name" formControlName="name" required minlength="1" maxlength="255"
    autocomplete="off" ngxAutofocus>
  <label for="dob">生年月日</label>
  <input name="dob" id="dob" type="date" required formControlName="dob" min="1940-01-01" [max]="currentDate">
  <label for="weight">体重</label>
  <input type="number" name="weight" id="weight" min="1" max="150" formControlName="weight">
  <label for="sex">性別</label>
  <select name="sex" id="sex" formControlName="sex" required>
    <option [ngValue]="Sex.Q">その他</option>
    <option [ngValue]="Sex.Male">男性</option>
    <option [ngValue]="Sex.Female">女性</option>
  </select>
  <div class="array-group" *ngFor="let arrayField of this.arrayFieldKeys;">
    <div class="input-label">
      <label id="{{ arrayField.key }}-label" [for]="arrayField.key">{{ arrayField.name }}</label>
      <svg (click)="this.addFormControl(arrayField.key)" i18n-title title="追加する"
        xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
      </svg>
    </div>
    <div *ngFor="let control of this.formGroup.controls[arrayField.key].controls; let i = index" class="input-array">
      <input type="text" [name]="arrayField.key" aria-labelledby="medicine-allergies-label" maxlength="255" required
        [formControl]="control" autocomplete="off">
      <svg (click)="this.formGroup.controls[arrayField.key].removeAt(i)" xmlns="http://www.w3.org/2000/svg"
        height="48" width="48" viewBox="0,0,48,48">
        <path
          d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z" />
      </svg>
    </div>
  </div>
  <button type="submit" i18n>
    <base-spinner *ngIf="this.loading$ | async; else submitText" color="white"></base-spinner>
    <ng-template #submitText>追加</ng-template>
  </button>
</form>
