<form [formGroup]="this.formGroup" (ngSubmit)="this.handleSubmit()">
  <label for="dispensed-at" i18n>出してもらった日付<small>*</small></label>
  <input type="date" name="dispensed-at" id="dispensed-at" formControlName="dispensedAt" required aria-required="true"
    [min]="this.oneMonthAgo" [max]="this.currentDate" autocomplete="off" ngxAutofocus>

  <div class="array-group">
    <div class="input-label">
      <label id="dosage-label" i18n>薬</label>
      <svg (click)="this.addMedicine(true)" i18n-title title="薬を追加する" xmlns="http://www.w3.org/2000/svg" height="48"
        width="48" viewBox="0,0,48,48">
        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
      </svg>
    </div>
    <div *ngFor="let medicineGroup of this.formGroup.controls.medicines.controls; let i = index"
      class="readonly-medicine-group">
      <p>{{i + 1}}</p>
      <input (click)="this.openMedicineEditModal(medicineGroup, i)" type="text" readonly
        [formControl]="medicineGroup.controls.medicineName">
      <svg (click)="this.formGroup.controls.medicines.removeAt(i)" xmlns="http://www.w3.org/2000/svg" height="48"
        width="48" viewBox="0,0,48,48">
        <path
          d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z" />
      </svg>
    </div>
  </div>
  <label for="pharmacy-name" i18n>薬局名</label>
  <input type="text" name="pharmacy-name" id="pharmacy-name" formControlName="pharmacyName" minlength="1"
    aria-required="false" maxlength="255" autocomplete="organization">
  <button [disabled]="this.formGroup.invalid" type="submit" i18n>
    <base-spinner *ngIf="this.loading$ | async; else submitText" color="white"></base-spinner>
    <ng-template #submitText>追加</ng-template>
  </button>
</form>

<base-modal *ngIf="this.medicineToEdit$ | async as selectedGroup" [show]="true" i18n-modal-title modal-title="薬の登録"
  (modal-closed)="closeMedicineEditModal(selectedGroup.group)">
  <rx-edit-medicine-form [group]="selectedGroup.group" (close)="closeMedicineEditModal(selectedGroup.group)"
    (addDose)="this.addDose(selectedGroup.index)"></rx-edit-medicine-form>
</base-modal>
