ul {
  list-style-type: none;
  padding: 0 1rem;
  max-height: 100px;
  overflow-y: auto;
}

li {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
}
li:last-child {
  margin: 0;
}
